# Executables and object files
**/*.o
main_user
main_server
client
server
**/bin/*

# Library files
*.a

# CMake files
**/CMakeCache.txt
**/CMakeFiles/
**/*.cmake
**/Makefile
src/Makefile

# Ads csv
**/ads.csv